.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  height: 60px;
  display: flex;
  align-items: center;
  color: white;
}

.App-header img {
  width: 80px;
}

.App-footer {
  background-color: #ccc;
  height: 60px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-footer img {
  width: 200px;
}

